body{
    margin: 0px;
    padding: 0px;

    .navbar{
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        padding: 50px;
        .klinfon{
            color: white;
            font-size: 35px;
            padding: 10px;
        }

    
    }
    .taothong{
        font-size: 130px;
        text-align: left;
        margin: 0px;
        padding: 0px 100px;
    }
    .composite{
        font-size: 70px;
        text-align: left;
        margin: 0px;
        padding: 30px 120px;
    }
     .showreel{
        position: absolute;
        color: rgb(255, 255, 255);
        z-index: 2;
        text-decoration: underline;
        font-size: 150px;
        top: 850px;          
        right: 80px;        
        margin: 0;
        padding: 0;
}
    .showreelbackground{
        background-color: black;
        align-items: center;
        margin: 0px;
        padding: 800px 0px;

        
    .video{
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        
        
    }

    
    
}
